
main .center>div{
	margin-bottom: 4rem;
}
main .center>p{
	text-indent: 2em;
	font-size: 14px;
	margin-bottom: 4.6rem;
}
main .center ul>li{
	margin-bottom: 7rem;
}
main .center ul>li img{
	float: left;
}
main .center ul>li section{
	float: left;
	font-size: 14px;
	margin-top: 3rem;
}
main .center ul>li:nth-child(1) section,main .center ul>li:nth-child(3) section{
	margin-left: 7.5rem;
	width: 25rem;
}
main .center ul>li:nth-child(2) section{
	width: 34.4rem;
	}
main .center ul>li section ol{
	padding-left: 1rem;
}
main .center ul>li section ol li{
	display: list-item;
	margin-bottom: 1rem;
}