*{
	padding: 0;
	margin: 0;
}
body{
	overflow-x:hidden;
}
li{
	display:inline-block; 
}
a{
	color: #fefefe;
	text-decoration: none;
}
.center{
	margin: auto;
	width: 68.68rem;
}
.center>div{
	margin-bottom: 4rem;
}